<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../script/homesripts.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Leaderboards</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="../Style/login.css" />
    <link rel="stylesheet" type="text/css" href="../Style/styles.css" />

  </head>

<body>
    
<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg bluebg navbar-light">

  <div class="collapse navbar-collapse" id="navbarText">

   
          <img class="bluebg rounded-circle"
          src="../resources/brain.png"
          alt="website icon"
          id="icon"
          width="90px"
          >


      <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="btn btn-default" type="button" onclick="redir('/home')">   Home   <span class="sr-only">(current)</span></a>
      </li>

      <li class = "nav-item">
          <a class="btn btn-default" type="button" onclick="redir('/login')">   Log Out  <span class="sr-only">(current)</span></a>
      </li>

    </ul>

     

  </div>

  
  
  
  <div class="form-inline my-2 my-lg-0">
      
      <div class="dropdown">
          
          <button onclick="dropdownfunc()" class="btn btn-default">
              <img class="rounded-circle" src="http://cdn.onlinewebfonts.com/svg/img_243887.png" alt="" width="30" height="30">
          </button>
          
              <div id="myDropdown" class="dropdown-content" style="visibility: hidden;">
              <a href="#" id="usernamedropdown"><%-user%></a>
              <a href="#">Settings</a>
              </div>

      </div>

  </div>

</div>


</nav>

<!--- END NAVBAR -->

<br /><br /><br /><br />
<table hidden>
  <tr>
    <td id="maxsize"><%-maxsize%></td>
    <td id="maxdisplayed1"><%-max1%></td>
    <td id="maxdisplayed2"><%-max2%></td>
    <td id="maxdisplayed3"><%-max3%></td>
  </tr>
</table>
<div class="container-fluid">

<div class="pt-2 row justify-content-center">

  <div class="card" style="width: 20rem; background-color: rgba(46, 109, 49, 0.3);" >
    <div style="text-align:center;">
    <img class="card-img-top" src="../resources/BESTBOATEVER.png" style="width: 100px;" alt="Card image cap">
    </div>
        <div class="card-body">
          <h5 class="card-title" style="font-family:verdana; text-align:center; font-weight:bold;">Boat Game</h5>
          <table>
            <tr>
              <td><button class="buttonbg2" type="button" onclick="changeViewB(true,0)"> <img class="rounded-circle" src="../resources/leftarr.png" alt="" width="30" height="30"></button></td>
              <td></td>
              <td></td>
              <td><button class="buttonbg2" type="button" onclick="changeViewB(false,0)"><img class="rounded-circle" src="../resources/rightarr.png" alt="" width="30" height="30"></button></td>
            </tr>
            <tr>
              <td style="font-weight:bold; color:rgb(23, 70, 23);">Rank</td>
              <td style="font-weight:bold; color:rgb(23, 70, 23);">Username</td>
              <td style="font-weight:bold; color:rgb(23, 70, 23);">High Score</td>
              <td style="font-weight:bold; color:rgb(23, 70, 23);">Attempts</td>
            </tr>
            <tr>
              <td><%-ranks1[0]%></td>
              <td><%-score1[0][0]%></td>
              <td><%-score1[0][4]%></td>
              <td><%-score1[0][5]%></td>
            </tr>
            <tr>
              <td><%-ranks1[1]%></td>
              <td><%-score1[1][0]%></td>
              <td><%-score1[1][4]%></td>
              <td><%-score1[1][5]%></td>
            </tr>
            <tr>
              <td><%-ranks1[2]%></td>
              <td><%-score1[2][0]%></td>
              <td><%-score1[2][4]%></td>
              <td><%-score1[2][5]%></td>
            </tr>
            <tr>
              <td><%-ranks1[3]%></td>
              <td><%-score1[3][0]%></td>
              <td><%-score1[3][4]%></td>
              <td><%-score1[3][5]%></td>
            </tr>    
            <tr>
              <td><%-ranks1[4]%></td>
              <td><%-score1[4][0]%></td>
              <td><%-score1[4][4]%></td>
              <td><%-score1[4][5]%></td>
            </tr>   
            <tr>
              <td>...</td>
            </tr>
            <tr>
              <td><%-userrank1%></td>
              <td><%-userplace1[0]%></td>
              <td><%-userplace1[4]%></td>
              <td><%-userplace1[5]%></td>
            </tr>
           </table>
         

        </div>
         
      </div>


  <div class="card" style="width: 20rem; background-color: rgba(46, 109, 49, 0.3);">
    <div style="text-align: center;">
      <img class="card-img-top" src="../resources/notecrdicon.png" style="width: 55%;" alt="Card image cap">
    </div>
      <div class="card-body">
        <h5 class="card-title" style="font-family:verdana; text-align:center; font-weight:bold;">Flashcards</h5>
        <table>
        <tr>
          <td><button class="buttonbg2" type="button" onclick="changeViewB(true,1)"> <img class="rounded-circle" src="../resources/leftarr.png" alt="" width="30" height="30"></button></td>
          <td></td>
          <td></td>
          <td><button class="buttonbg2" type="button" onclick="changeViewB(false,1)"><img class="rounded-circle" src="../resources/rightarr.png" alt="" width="30" height="30"></button></td>
        </tr>
        <tr>
          <td style="font-weight:bold; color:rgb(23, 70, 23);">Rank</td>
          <td style="font-weight:bold; color:rgb(23, 70, 23);">Username</td>
          <td style="font-weight:bold; color:rgb(23, 70, 23);">High Score</td>
          <td style="font-weight:bold; color:rgb(23, 70, 23);">Attempts</td>
        </tr>
        <tr>
          <td><%-ranks2[0]%></td>
          <td><%-score2[0][0]%></td>
          <td><%-score2[0][6]%></td>
          <td><%-score2[0][7]%></td>
        </tr>
        <tr>
          <td><%-ranks2[1]%></td>
          <td><%-score2[1][0]%></td>
          <td><%-score2[1][6]%></td>
          <td><%-score2[1][7]%></td>
        </tr>
        <tr>
          <td><%-ranks2[2]%></td>
          <td><%-score2[2][0]%></td>
          <td><%-score2[2][6]%></td>
          <td><%-score2[2][7]%></td>
        </tr>
        <tr>
          <td><%-ranks2[3]%></td>
          <td><%-score2[3][0]%></td>
          <td><%-score2[3][6]%></td>
          <td><%-score2[3][7]%></td>
        </tr>    
        <tr>
          <td><%-ranks2[4]%></td>
          <td><%-score2[4][0]%></td>
          <td><%-score2[4][6]%></td>
          <td><%-score2[4][7]%></td>
        </tr>   
        <tr>
          <td>...</td>
        </tr>
        <tr>
          <td><%-userrank2%></td>
          <td><%-userplace2[0]%></td>
          <td><%-userplace2[6]%></td>
          <td><%-userplace2[7]%></td>
        </tr>
       </table>
      </div>
  </div>

  <div class="card" style="width: 20rem; background-color: rgba(46, 109, 49, 0.3);">
    <div style="text-align: center;">
      <img class="card-img-top" src="../resources/riddleion.png" style="width: 55%;" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title" style="font-family:verdana; text-align:center; font-weight:bold;">Riddles</h5>
        <table>
          <tr>
            <td><button class="buttonbg2" type="button" onclick="changeViewB(true,2)"> <img class="rounded-circle" src="../resources/leftarr.png" alt="" width="30" height="30"></button></td>
            <td></td>
            <td></td>
            <td><button class="buttonbg2" type="button" onclick="changeViewB(false,2)"><img class="rounded-circle" src="../resources/rightarr.png" alt="" width="30" height="30"></button></td>
          </tr>
          <tr>
            <td style="font-weight:bold; color:rgb(23, 70, 23);">Rank</td>
            <td style="font-weight:bold; color:rgb(23, 70, 23);">Username</td>
            <td style="font-weight:bold; color:rgb(23, 70, 23);">High Score</td>
            <td style="font-weight:bold; color:rgb(23, 70, 23);">Attempts</td>
          </tr>
          <tr>
            <td><%-ranks3[0]%></td>
            <td><%-score3[0][0]%></td>
            <td><%-score3[0][8]%></td>
            <td><%-score3[0][9]%></td>
          </tr>
          <tr>
            <td><%-ranks3[1]%></td>
            <td><%-score3[1][0]%></td>
            <td><%-score3[1][8]%></td>
            <td><%-score3[1][9]%></td>
          </tr>
          <tr>
            <td><%-ranks3[2]%></td>
            <td><%-score3[2][0]%></td>
            <td><%-score3[2][8]%></td>
            <td><%-score3[2][9]%></td>
          </tr>
          <tr>
            <td><%-ranks3[3]%></td>
            <td><%-score3[3][0]%></td>
            <td><%-score3[3][8]%></td>
            <td><%-score3[3][9]%></td>
          </tr>    
          <tr>
            <td><%-ranks3[4]%></td>
            <td><%-score3[4][0]%></td>
            <td><%-score3[4][8]%></td>
            <td><%-score3[4][9]%></td>
          </tr>   
          <tr>
            <td>...</td>
          </tr>
          <tr>
            <td><%-userrank3%></td>
            <td><%-userplace3[0]%></td>
            <td><%-userplace3[8]%></td>
            <td><%-userplace3[9]%></td>
          </tr>
          </table>
      </div>
  </div>

</div>  

<div class="container pt-4"></div>

<div class="pt-4 container center">
  <button class="buttonbg center" type="button" onclick="sortBy('/scores','game1_score')">Combined view</button>
</div>

<div class="container pt-4"></div>
</body>

<script src="../script/login.js"></script>